@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Error Code: @ViewData["ErrorCode"]</h2>
                </div>
                <div class="card-body">
                    <p>An error occurred while processing your request.</p>
                    <h4><span class="fw-bold">Error Message:</span> <br /> @ViewBag.ErrorMessage</h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>
