@model AllOwnersQueryModel

@{
	ViewData["Title"] = "All Owners";
}

<partial name="_NotificationPartial" />

<form method="get">
	<div class="d-flex align-items-center justify-content-between">

		<div class="form-group col-md-3">
			<label asp-for="SearchString"></label>
			<input asp-for="SearchString" class="form-control" placeholder="...">
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="PatientSorting"></label>
				<select asp-for="PatientSorting" class="form-control">
					<option value="0">Patient Name (Ascending)</option>
					<option value="1">Patient Name (Descending)</option>
					<option value="2">Owner Name (Ascending)</option>
					<option value="3">Owner Name (Descending)</option>
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="PatientsPerPage"></label>
				<select asp-for="PatientsPerPage" class="form-control">
					<option value="3">3</option>
					<option value="6">6</option>
					<option value="9">9</option>
				</select>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group mt-4">
				<input type="submit" value="Search" class="btn btn-secondary" />
			</div>
		</div>

	</div>
</form>

<div class="card border-secondary mb-3" style="margin: 10px 0px">
	<h3 class="card-header text-center">Owners</h3>

	<div class="card-body">

		@if (!Model.Any())
		{
			<h3 class="text-center">No owners yet!</h3>
		}
		else
		{
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
				@foreach (var owner in Model.Patients)
				{
					<partial name="_OwnerAllPartial" model="@owner" />
				}
			</div>
		}
	</div>
</div>
