@model ICollection<OwnerViewModel>

@{
	ViewData["Title"] = "All Owners";
}

<partial name="_NotificationPartial" />

<form class="d-flex" asp-controller="Owner" asp-action="All" method="get" style="max-width: 20rem; margin: 10px 0px">
	<input class="form-control me-sm-2" type="search" pattern="\d*" placeholder="Search by phone number" spellcheck="false" data-ms-editor="true" name="phoneNumber">
	<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="card border-secondary mb-3" style="margin: 10px 0px">
	<h3 class="card-header text-center">Owners</h3>

	<div class="card-body">

		@if (!Model.Any())
		{
			<h3 class="text-center">No owners yet!</h3>
		}
		else
		{
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
				@foreach (var owner in Model)
				{
					<partial name="_OwnerAllPartial" model="@owner" />
				}
			</div>
		}
	</div>
</div>
