@model PatientExaminationVM

@{
	ViewData["Title"] = "All Examinations";
}

<table class="table table-secondary">
	<thead>
		<tr>
			<th>
				Created On
			</th>
			<th>
				Doctor
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Examinations.Any())
		{
			@foreach (var item in Model.Examinations)
			{
				<tr class="table-dark">
					<td>
						@Html.DisplayFor(modelItem => item.CreatedOn)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Doctor)
					</td>
				</tr>
			}
		}
		else
		{
			<h3 class="text-center">No examinations yet!</h3>
		}
	</tbody>
</table>

<a class="btn btn-warning text-white float-end" asp-controller="Examination" asp-action="Add" asp-route-patientId="@Model.Id">Add</a>
