@model IEnumerable<ExaminationViewModel>

@{
	ViewData["Title"] = "All Examinations";


}

@if (Model.Any())
{
	<div class="table-responsive">
		<table class="table table-secondary" id="ExaminationsAll">
			<thead>
				<tr>
					<th>
						Created On
					</th>
					<th>
						Reason
					</th>
					<th>
						Doctor
					</th>
					<th>
						Status
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var examination in Model)
				{
					<tr class="table-dark">
						<td>
							@examination.CreatedOn
						</td>
						<td>
							@examination.Reason
						</td>
						<td>
							@examination.DoctorName
						</td>
						<td>
							@examination.StatusName
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h3 class="text-center">No examinations yet!</h3>
}

<div class="container">
	<ul class="pagination justify-content-center">
		
		@for (int i = 0; i < 10; i++)
		{
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
		}
	</ul>
</div>