@model PatientExaminationVM

@{
	ViewData["Title"] = "All Examinations";
}

@if (Model.Examinations.Any())
{
	<table class="table table-secondary">
		<thead>
			<tr>
				<th>
					Created On
				</th>
				<th>
					Doctor
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Examinations)
			{
				<tr class="table-dark">
					<td>
						@Html.DisplayFor(modelItem => item.CreatedOn)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Doctor)
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h3 class="text-center">No examinations yet!</h3>
}
<a class="btn btn-primary text-white d-block" asp-controller="Examination" asp-action="Add" asp-route-patientId="@Model.Id">Add</a>
