@model IEnumerable<ExaminationViewModel>

@{
	ViewData["Title"] = "All Examinations";
	Pager pager = ViewBag.Pager;
}

<partial name="_NotificationPartial" />

@if (Model.Any())
{
	<div class="table-responsive mt-4">
		<table class="table table-secondary">
			<thead>
				<tr>
					<th>
						Created On
					</th>
					<th>
						Reason
					</th>
					<th>
						Doctor
					</th>
					<th>
						Status
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var examination in Model)
				{
					<tr class="table-dark">
						<td>
							@examination.CreatedOn.ToString("dd/MM/yyyy")
						</td>
						<td>
							@examination.Reason
						</td>
						<td>
							@examination.DoctorName
						</td>
						<td>
							@examination.StatusName
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h3 class="text-center">No examinations yet!</h3>
}

