<ul class="navbar-nav me-auto">
	<li class="nav-item">
		<a class="nav-link active" asp-controller="Home" asp-action="Index">
			Home
			<span class="visually-hidden">(current)</span>
		</a>
	</li>
	@if (User.Identity?.IsAuthenticated ?? false)
	{
		<li class="nav-item">
			<a class="nav-link active" asp-controller="Patient" asp-action="All">Patients</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" asp-controller="Owner" asp-action="All">Owners</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" asp-controller="Examination" asp-action="All">Examinations</a>
		</li>
	}
</ul>
<a class="btn btn-outline-light " style="padding: 5px 10px; margin: 0px 10px;" asp-controller="Patient" asp-action="Add">Create</a>
