@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="text-center text-danger">Oops, better check that URL. Page was not found.</h1>
	<div class="row-cols-1 row-cols-md-2 row-cols-lg-2">
		<img src="~/img/404.jpg" />
	</div>
	<div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>