@model AddPetViewModel
@{
	ViewData["Title"] = "Add Pet";
}

<partial name="_NotificationPartial" />

<div class="row d-flex align-items-center justify-content-center" style="margin: 10px 0px">
	<div class="col-md-4 card p-3">
		<h2 class="card-title text-center text-primary">Add Pet</h2>
		<form asp-action="AddPet" asp-controller="Patient" asp-route-ownerId="@Model.OwnerId" method="post">
			<div class="card-body">
				<div asp-validation-summary="ModelOnly"></div>
				
				<div class="mb-1">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" placeholder="Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<label asp-for="Type" class="control-label"></label>
					<input asp-for="Type" class="form-control" placeholder="Type">
					<span asp-validation-for="Type" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<fieldset>
						@foreach (var value in Enum.GetValues(typeof(PatientGender)))
						{
							<label asp-for="Gender" class="radio-inline">
								<input asp-for="Gender" type="radio" class="form-check-input" value="@value" /> @value
							</label>
							<span asp-validation-for="Gender" class="text-danger"></span>
						}
					</fieldset>
				</div>

				<div class="mb-2">
					<label asp-for="BirthDate" class="control-label"></label>
					<input asp-for="BirthDate" class="form-control">
					<span asp-validation-for="BirthDate" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<fieldset>
						<label asp-for="Neutered" class="text-center">Neutered:</label>
						@foreach (var value in Enum.GetValues(typeof(PatientNeutered)))
						{
							<input asp-for="Neutered" type="radio" class="form-check-input" value="@value" /> @value
							<span asp-validation-for="Neutered" class="text-danger"></span>
						}
					</fieldset>
				</div>

				<div class="mb-1">
					<label asp-for="Microchip" class="control-label"></label>
					<input asp-for="Microchip" class="form-control" placeholder="Microchip">
					<span asp-validation-for="Microchip" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<label asp-for="Characteristics" class="control-label"></label>
					<textarea asp-for="Characteristics" class="form-control" rows="2" placeholder="Characteristics"></textarea>
					<span asp-validation-for="Characteristics" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<label asp-for="ChronicIllnesses" class="control-label"></label>
					<textarea asp-for="ChronicIllnesses" class="form-control" rows="2" placeholder="Chronic Illnesses"></textarea>
					<span asp-validation-for="ChronicIllnesses" class="text-danger"></span>
				</div>

			</div>

			<div class="card-footer d-flex align-items-center justify-content-end">
				<input type="submit" value="Add Pet" class="btn btn-primary btn-sm" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
