@model ICollection<PatientVM>

@{
	ViewData["Title"] = "All Patients";
}

@if (!Model.Any())
{
	<h3 class="text-center">No patients yet!</h3>
}
else
{ 
	<table class="table table-secondary">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Type
				</th>
				<th>
					BirthDate
				</th>
				<th>
					Gender
				</th>
				<th>
					Neutered
				</th>
				<th>
					Examinations
				</th>
				<th>
					Details
				</th>
			</tr>
		</thead>
		<tbody id="Patients">
			<partial name="_PatientAllPartialView" />
		</tbody>
	</table>
} 
