<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - VetApp</title>
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
	<link rel="stylesheet" href="~/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/VetApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">VetTracking</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" asp-controller="Home" asp-action="Index">
								Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item">
								<a class="nav-link active" asp-controller="Patient" asp-action="Create">Create</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" asp-controller="Patient" asp-action="All">All Patients</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" asp-controller="Patient" asp-action="MyPatients">My Patients</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</li>
						}
					</ul>
					<form class="d-flex" asp-controller="Patient" asp-action="OwnerPatients" method="post">
						<input class="form-control me-sm-2" type="search" placeholder="Search" spellcheck="false" data-ms-editor="true" name="phoneNumber">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; @DateTime.UtcNow.Year - VetApp
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@section Patients {
		<partial name="_PatientPartialVM" />
	}
	@section PatientInfo {
		<partial name="_ExaminationPartialVM" />
	}
</body>
</html>
