@using System.Security.Claims
@using VetApp.Services.Interfaces
@inject SignInManager<ApplicationUser> signInManager
@inject IAccountService accService

@{
	string id = User.FindFirstValue(ClaimTypes.NameIdentifier);
	string userFullName = await this.accService.GetUserFullNameByUsernameAsync(User.Identity?.Name!);
}

<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" area-expanden="false">
				@userFullName
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
			</div>
		</li> 
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>
